<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>To-Do List</title>
</head>

<body>

    <header>
        <% if (task==null) { %>
            <h1>TODO List</h1>
            <form action="/create" method="post">
                <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
                <button id="addButton" type="submit">Adicionar</button>
            </form>
            <% } else { %>
                <h1>Editar tarefa</h1>
                <form action="/updateOne/<%= task._id %>" method="post">
                    <input type="text" name="task" id="task" value="<%= task.task %>">
                    <button id="updateButton" type="submit">Atualizar</button>
                </form>
                <% } %>
    </header>

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task)=> { %>
                <li>
                    <%= task.task %> | <%= new Date(task.date).toLocaleDateString('pt-BR', { weekday: 'long' ,
                            year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                            <a href="/getById/<%= task._id %>" class="edit"><i class="fas fa-edit"></i></a>
                            <a href="/confirmDelete/<%= task._id %>" class="delete"><i class="fas fa-trash"></i></a>
                </li>
                <% }) %>
        </ul>
    </section>

    <% if (taskToDelete) { %>
        <section id="confirmation">
            <h2>Confirmação</h2>
            <p>Deseja realmente apagar a tarefa: <%= taskToDelete.task %>?</p>
            <form action="/deleteOne/<%= taskToDelete._id %>" method="post">
                <button type="submit">Sim</button>
            </form>
            <a href="/">Não</a>
        </section>
        <% } %>

            <script src="script.js"></script>
</body>

</html>